body{
    background-color: #000000;
    background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
    background-size: 20px 20px;
    color: white;
}
.container {
    text-align: center;
}
.header{
    padding: 4rem;
}
form {
    background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
    border: 0.0625rem solid white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 20rem;
}

/* style of welcome page */
.welcome_page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.welcome_page_heading {
    font-size: 3em;
    margin-bottom: 1.25rem;
}
.welcome_page_text {
    font-size: 1.5em;
    margin-bottom: 1.875rem;
}
.welcome_page_highlight {
    color: #ffd700; /* gold color for "Flashcard App" */
    font-weight: bold;
}

/* style of all btns */
.btn_common {
    background: #0073A8;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 0 auto;
}
.btn_common:hover {
    background: #004f61;
}

/* style of card label and input */
.card_label {
    font-weight: bold;
    color: #FFEB3B;
    margin-bottom: 0.5rem; 
    display: block;
    text-align: left;
    text-transform: uppercase;
}
.card_input {
    width: 100%;
    color: white;
    padding: 10px 0;
    margin-bottom: 3rem; /* distance between input and btn */
    border: none;
    border-bottom: 2px solid #FFEB3B; /* yellow underline */
    background-color: transparent;
}

/* style of flashcards */
.card_container {
    perspective: 1000px; /* creates a 3D perspective for the card flip */
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 2rem;
}
/* style for the individual card */
.card {
    width: 600px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s; /* flip speed */
}
/* style for flipped cards */
.card.flipped {
    transform: rotateY(180deg); /* rotate the card 180 degrees to show the back */
}
/* style for each side of the card */
.card_side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid #ccc;
}
/* front side of the card */
.card-front {
    background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
    color: white;
}
/* back side of the card */
.card-back {
    background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
    color: #FFEB3B;
    transform: rotateY(180deg);
}
.no_flashcard_highlight {
    color: #ff6347;
}