{% extends 'base.html' %}

{% block head %}
    <title>Flashcard App</title>
{% endblock %}

{% block body %}
    <div class="container">
        <form action="/create_module" method="POST">
            <div class="container text-center">
                <div class="row align-items-start">
                    <div class="col-md-6">
                        <input type="text" name="module_name" placeholder="Module Name" required>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="module_description" placeholder="Module Description" required>
                    </div>
                </div>
                <button type="submit" class="btn_common">Create Module</button>
            </div>
        </form>
    </div>

{% endblock %}
