{% extends 'base.html' %}

{% block head %}
    <title>Flashcard App</title>
{% endblock %}

{% block body %}
    <div class="container">
        <nav>
            <div class="dropdown">
                <img style="width: 3rem;" data-bs-toggle="dropdown" aria-expanded="false" src="{{ url_for('static', filename='imgs/setting.png') }}" alt="Setting">
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Home Page</a></li>
                    <li><a class="dropdown-item" href="/my_modules">My modules</a></li>
                    <li><a class="dropdown-item" href="/create_module">Create a module</a></li>
                </ul> 
            </div>
        </nav>
        <h1 class="header">My Modules</h1>

        {% if modules %}
            {% for module in modules %}
                <div class="container module_container">
                    <div class="row">
                        <div class="col-4 column_container">
                            <a href="{{ url_for('flashcard_module', name=module.name, id=module.id) }}">{{ module.name.replace("-", " ") }}</a>
                        </div>
                        <div class="col-6 column_container">
                            <p>{{ module.description }}</p>
                        </div>
                        <div class="col column_container">
                            <div class="dropdown">
                                <button class="btn btn-success" data-bs-toggle="dropdown" aria-expanded="false">Settings</button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form action="/delete_module/{{ module.id }}" method="POST" style="display:inline;">
                                            <button type="submit" class="btn btn-danger dropdown-item">Delete Module</button>
                                        </form>
                                    </li>
                                    <li><a class="dropdown-item" href="/edit_module/{{ module.id }}">Edit</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="no_modules_container">
                <p>You currently have <span class="highlight">no modules</span>.</p>
                <a href="/create_module"><button type="submit" class="btn_common">Create a Module</button></a>
            </div>
        {% endif %}
    
    </div>
{% endblock %}
