{% extends 'base.html' %}

{% block head %}
    <title>Flashcard App</title>
{% endblock %}

{% block body %}
    <div class="container">
        <nav>
            <div class="dropdown">
                <img style="width: 3rem;" data-bs-toggle="dropdown" aria-expanded="false" src="{{ url_for('static', filename='imgs/setting.png') }}" alt="Setting">
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Home Page</a></li>
                    <li><a class="dropdown-item" href="/my_modules">My modules</a></li>
                    <li><a class="dropdown-item" href="/create_module">Create a module</a></li>
                </ul> 
            </div>
        </nav>
        <h1 class="header">My Modules</h1>

        {% if modules %}
            {% for module in modules %}
                <div class="container module_container">
                    <div class="row">
                        <div class="col-5 column_container">
                            <a class="module_name" href="{{ url_for('flashcard_module', name=module.name, id=module.id) }}">{{ module.name.replace("-", " ") }}</a>
                        </div>
                        <div class="col-5 column_container">
                            {% if module.description %}
                                <p class="module_description">{{ module.description }}</p>
                            {% else %}
                                <p style="font-size: 1.5rem;">No description</p>
                            {% endif %}
                        </div>
                        <div class="col" style="text-align: right;">
                            <a href="/edit_module/{{ module.id }}"><img class="setting_img" src="{{ url_for('static', filename='imgs/edit.png') }}" alt="Edit"></a>
                            <form action="/delete_module/{{ module.id }}" method="POST" style="display:inline;">
                                <button type="submit" class="module_delete_btn"><img class="setting_img" src="{{ url_for('static', filename='imgs/delete.png') }}" alt="Delete"></button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="no_modules_container">
                <p>You currently have <span class="highlight">no modules</span>.</p>
                <a href="/create_module"><button type="submit" class="btn_common">Create a Module</button></a>
            </div>
        {% endif %}
    
    </div>
{% endblock %}
